<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles.css">
  <% if (typeof headScripts !== 'undefined') { headScripts.forEach(function(src) { %>
    <script src="<%= src %>"></script>
  <% }) } %>
  <% if (ga) { %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ga %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '<%= ga %>');
    </script>
  <% } %>
</head>
<body>
  <header>
    <a class="home-link" href="/"><h1>Spreadsheet Transform</h1></a>
    <div class="subtitle"><%= subtitle %></div>
  </header>
  <main>
    <%- body %>
  </main>
  <% if (typeof bodyScripts !== 'undefined') { bodyScripts.forEach(function(src) { %>
    <script src="<%= src %>"></script>
  <% }) } %>
</body>
</html>
