<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles.css">
  <% if (typeof headScripts !== 'undefined') { headScripts.forEach(function(src) { %>
    <script src="<%= src %>"></script>
  <% }) } %>
</head>
<body>
  <header>
    <a class="home-link" href="/"><h1>sstransform</h1></a>
    <div class="subtitle"><%= subtitle %></div>
  </header>
  <main>
    <%- body %>
  </main>
  <% if (typeof bodyScripts !== 'undefined') { bodyScripts.forEach(function(src) { %>
    <script src="<%= src %>"></script>
  <% }) } %>
</body>
</html>
